@import "normalize"; 

// global settings

body{
    .wrapper {
        max-width: 1140px;
        margin: 0 auto;
    }
}
h2{
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Cabin', sans-serif;
}

a {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    font-weight: 700;
}


nav, section {
    border: 1px solid red;
}

.flickity-page-dots .dot.is-selected {
    display: none;
}

// sections

#navBar {

width: 100%;
height: 10vh;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
background: white;
    
h2{
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    margin: 0.5rem;
}

        .navLinks {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            text-transform: uppercase;
            list-style: none;
            
            a {
                
                color: black;
                padding: 10px;
                
            }
            .dropMenu {
                opacity: 0;
                transition: all 0.5s ease;
                margin-top: 1rem;
                display: none;
            }

            &:hover {
                display: inline-block;
            }

        }  
    } 


#heroImage{
    
        width: 100%;
        height: 90vh;
        background-image: url(assets/image-1.jpg);
        max-width: 100% ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
            .heroText{
                width: 35%;
                height: 46%;
                border: 1px solid blue;
                background: white;
                position: absolute;
                top: 29%;
                bottom: 0;
                left: 19%;
                right: 0;
                text-align: center;
                padding: 10px;

            }
            }
        
    


// flickity gallery

    #flickitySlider{
        h2 {
            text-align:center; 
        }
        .flickityText{
            text-align: center;
        h3 {
            font-family: 'Cabin', sans-serif;
            text-transform: uppercase;
            font-size: 1rem;

        }
        p {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 50;
        }
        }
        
    }
// gallery section

    #gallery {
        .galleryBox {
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        h2 {
            margin:0;
        }
        
    }

    .imageBox{
        border: 1px solid red;
        max-width: 50%;
        width: 50%;
        padding: 5% 10%;
        position: relative;
        a {
            color: red;
        }
    }

    .imageBoxbottom {
        background: lightgray;
        width: 388px;
        height: 50%;
        margin-top: -5px;
        margin-bottom: -43px;
        line-height: 1.5rem;
    }

    .dateBox {
        border: 1px solid purple;
      width: 5rem; 
      height: 1rem;
      position: absolute;
      top: 15.5rem;
    right: 6rem;
        p {
            border: 1px solid brown;
            background: red;
            color: white;
        }
    }

    // contact form
    #contactForm{
        display: flex;
        flex-direction: row;
        background: lightslategray;
        .techText {
            text-transform: uppercase; 
        }
         techBox{
                width: 33.3%;
            }
        ul{ 
            width: 33.33%;
            list-style: none;
            text-decoration: none;
            text-transform: uppercase;
            }    
        form {
            width: 33.33%;
            
        }
    }

  
            .footerWrapper{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        background: rgb(18, 20, 20);
        border: 1px solid orchid;
        color: white;
        justify-content: space-around;
        align-content: center;
    }
            



//     /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) 

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px)  

// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #gallery {
    .galleryBox {
        flex-direction: column;
        border: 1px solid green;
            }
        }
    } 

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...} 

